.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    padding: 25px;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  form h3 {
    font-size: 27px;
    margin: 0 0 30px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
  }
  
  input {
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
  }
  
  input:focus {
    border-color: #9a9a9a;
  }
  
  input.error {
    border-color: #f91919;
    background: #f9f0f1;
  }
  
  small {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #f91919;
  }
  
  .submit-btn {
    margin-top: 30px;
  }
  
  .submit-btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #084718;
    transition: 0.2s ease;
    width: 100%;
  }
  
  .submit-btn input:hover {
    background: #179b81;
  }
  